@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #6D5D6E;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: end;
  gap: 0;
}
header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 10rem;
  padding: 3rem 0rem 3rem 5rem;
}

.encabeza {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: end;
  align-items: end;
  gap: 0;
  padding: 0rem 4rem 2rem 0rem;
}
.encabeza .navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}
.encabeza .navBar button {
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #F4EEE0;
}
.encabeza .navBar button a {
  margin: 1rem;
  color: black;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.encabeza .navBar button:hover {
  border-radius: 0.8rem;
}
.encabeza form {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
.encabeza input {
  border-radius: 1rem;
  font-size: 2rem;
}

main {
  background-color: #F4EEE0;
}
main h2 {
  padding: 2rem;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
main .contenedor-texto {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
main .contenedor-texto .texto {
  background-color: #6D5D6E;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
}
main .contenedor-texto .texto h3 {
  text-decoration: underline;
}

.container-ropa {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-ropa .ropa {
  width: 56rem;
  height: 80rem;
  display: grid;
  grid-template-columns: 28rem 28rem;
  grid-template-rows: 35.5rem 35.5rem;
  gap: 1rem;
  grid-template-areas: "jeans remeras" "zapatillas camperas";
  justify-content: center;
  align-content: center;
}
.container-ropa .ropa .jeans {
  background-color: rgb(6, 11, 11);
  background-image: url(../../assests/images/jeans.jpg);
}
.container-ropa .ropa .remeras {
  background-color: rgb(85, 37, 126);
  background-image: url(../../assests/images/remeras.jpg);
}
.container-ropa .ropa .zapatillas {
  background-color: rgb(124, 32, 38);
  background-image: url(../../assests/images/zapatillas.jpg);
}
.container-ropa .ropa .camperas {
  background-color: rgb(69, 96, 96);
  background-image: url(../../assests/images/camperas.jpg);
}
.container-ropa .ropa .bot-ropa {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-ropa .ropa .bot-ropa button {
  background-color: black;
  font-size: 2rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}
.container-ropa .ropa .bot-ropa button a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.container-acce {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-acce .accesorios {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 30rem;
  height: 30rem;
  background-color: rgb(120, 83, 83);
  background-image: url(../../assests/images/accesorios.jpg);
  border-radius: 100%;
  margin: 10rem 0rem;
}

/*# sourceMappingURL=styles.css.map */
