@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #6D5D6E;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: end;
  gap: 0;
}
header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 10rem;
  text-shadow: 5px 5px 10px black;
  padding: 3rem 0rem 3rem 5rem;
}

.encabeza {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: end;
  align-items: end;
  gap: 0;
  padding: 0rem 4rem 2rem 0rem;
}
.encabeza .navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}
.encabeza .navBar button {
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #F4EEE0;
}
.encabeza .navBar button a {
  margin: 1rem;
  color: black;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.encabeza .navBar button:hover {
  transform: scale(1.05);
}
.encabeza form {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
.encabeza input {
  border-radius: 1rem;
  font-size: 2rem;
}

main {
  background-color: #F4EEE0;
}
main h2 {
  padding: 2rem;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
main .contenedor-texto {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
main .contenedor-texto .texto {
  background-color: #6D5D6E;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
}
main .contenedor-texto .texto h3 {
  text-decoration: underline;
}

.container-ropa {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-ropa .ropa {
  width: 56rem;
  height: 80rem;
  display: grid;
  grid-template-columns: 28rem 28rem;
  grid-template-rows: 35.5rem 35.5rem;
  gap: 1rem;
  grid-template-areas: "jeans remeras" "zapatillas camperas";
  justify-content: center;
  align-content: center;
}
.container-ropa .ropa .jeans, .container-ropa .ropa .camperas, .container-ropa .ropa .zapatillas, .container-ropa .ropa .remeras {
  background-color: rgb(6, 11, 11);
  background-image: url(../assests/images/jeans.jpg);
  background-position: center center;
  background-size: cover;
}
.container-ropa .ropa .remeras {
  background-image: url(../assests/images/remeras.jpg);
}
.container-ropa .ropa .zapatillas {
  background-image: url(../assests/images/zapatillas.jpg);
}
.container-ropa .ropa .camperas {
  background-image: url(../assests/images/camperas.jpg);
}
.container-ropa .ropa .bot-ropa {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-ropa .ropa .bot-ropa button {
  background-color: black;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}
.container-ropa .ropa .bot-ropa button a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.container-acce {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.container-acce .accesorios {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 35rem;
  height: 35rem;
  background-image: url(../assests/images/accesorios.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
  margin: 10rem 0rem;
}
.container-acce .accesorios button {
  background-color: black;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}
.container-acce .accesorios button a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.container-acce .accesorios :hover {
  padding: 0.5rem;
  opacity: 1;
}

.ingreso {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: end;
  gap: 0;
}
.ingreso h1 {
  padding: 3rem 0rem;
  font-weight: 700;
  color: black;
}

main .formulario {
  font-size: 2rem;
}
main .formulario button {
  margin: 2rem;
  font-size: 1.5rem;
  border-radius: 5%;
  background-color: #6D5D6E;
  border: solid;
  border-color: #6D5D6E;
  padding: 0rem;
}
main .formulario button:hover {
  background-color: black;
  border-color: black;
  border-radius: 10%;
}
main .img-ingreso {
  margin: 3rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  gap: 1rem;
}
main .img-ingreso div {
  width: 20rem;
  height: 30rem;
  overflow: hidden;
}
main .img-ingreso div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .img-ingreso div:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 3rem rgb(111, 107, 107);
}
main button {
  font-size: 1.8rem;
  margin: 3rem;
  padding: 0.3rem 0.5rem;
  background-color: #6D5D6E;
  border: none;
  border-radius: 1rem;
}
main button a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
main button:hover {
  transform: scale(1.02);
}

main .secc-ropa {
  padding: 10rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: start;
  gap: 0rem;
}

.mas-paginas {
  background-color: #6D5D6E;
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
}
.mas-paginas .contenedor-li {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
}
.mas-paginas .contenedor-li li {
  list-style: none;
}
.mas-paginas .contenedor-li li a {
  color: black;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}
.mas-paginas .contenedor-li li a:hover {
  text-decoration: none;
}

.galeria {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  grid-template-areas: "";
  justify-content: center;
  align-content: center;
}
.galeria .elemento {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.galeria .elemento img {
  width: 25rem;
  object-fit: contain;
}
.galeria .elemento p {
  font-size: 1.8rem;
  font-family: "Times New Roman", Times, serif;
}

footer {
  background-color: #6D5D6E;
  padding-bottom: 0.5rem;
  height: 10rem;
  width: 100%;
  margin-top: auto;
}
footer .redes {
  padding-left: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  padding-top: 3rem;
}
footer .redes a img {
  width: 5rem;
  height: 5rem;
  filter: drop-shadow(5px 5px 7px black);
}
footer .redes a :hover {
  transform: scale(0.9);
}
footer .copy {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  height: 100%;
}

.container table thead tr th {
  font-size: 2rem;
}
.container table tbody tr td {
  font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
body main {
  width: 100%;
}

@media (max-width: 768px) {
  /*del header*/
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  header h1 {
    padding: 3rem 0rem 3rem 0rem;
  }
  .encabeza {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0rem 0rem 2rem 0rem;
  }
  /*del footer*/
  footer .redes {
    padding: 3rem 2rem 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .redes a img {
    width: 4rem;
    height: 4rem;
  }
  /* DEL INDEX*/
  .container-ropa {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .container-ropa .ropa {
    margin-top: 5rem;
    width: 56rem;
    height: 170rem;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .container-ropa .ropa .jeans, .container-ropa .ropa .remeras, .container-ropa .ropa .zapatillas, .container-ropa .ropa .camperas {
    width: 60%;
    height: 100%;
  }
  .container-ropa {
    margin-top: 2rem;
  }
  /* De las galerias*/
  main .secc-ropa {
    padding: 4rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .mas-paginas {
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
  }
  .mas-paginas .contenedor-li {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
    padding: 0rem 0.5rem;
  }
  .mas-paginas .contenedor-li li a {
    color: black;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
  }
  .galeria {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    grid-template-areas: "";
    justify-content: center;
    align-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
