main{
    background-color: $color-fondo;
    h2{
        padding: 2rem;
        font-size: 3rem;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }
    .contenedor-texto{
        text-align: center;
        @include flex(row, no-wrap, center, center, 0);
        .texto{
            background-color: $color-principal;
            font-size: 2.5rem;
            font-family: 'Josefin Sans', sans-serif;
            width: 40rem;
            padding: 2rem;
            border-radius: 1rem;
            h3{
                text-decoration: underline;
            }
        }
    }
}

.container-ropa{
    margin-top: 8rem;
    @include flex(row,no-wrap,center,center,0);
    .ropa{
        width: 56rem;
        height: 80rem;
        @include grid(28rem 28rem , 35.5rem 35.5rem, 1rem,"jeans remeras""zapatillas camperas", center,center);
        .jeans{
            background-color: rgb(6, 11, 11);
            background-image: url(../../assests/images/jeans.jpg);
        }
        .remeras{
            background-color: rgb(85, 37, 126);
            background-image: url(../../assests/images/remeras.jpg);
        }
        .zapatillas{
            background-color: rgb(124, 32, 38);
            background-image: url(../../assests/images/zapatillas.jpg);
        }
        .camperas{
            background-color: rgb(69, 96, 96);
            background-image: url(../../assests/images/camperas.jpg);
        }
        .bot-ropa{
            @include flex(row,no-wrap,center,center,0);
            button{
                background-color: black;
                font-size: 2rem;
                border-radius: 0.5rem;
                opacity: 0.8;
                a{
                    color: white;
                    text-decoration: none;
                    padding: 1rem;
                }
            }
        }
    }
}

.container-acce{
    @include flex(row, no-wrap, center,center,0);
    .accesorios{
        @include flex(row,no-wrap,center,center,0);
        width: 30rem;
        height: 30rem;
        background-color: rgb(120, 83, 83);
        background-image: url(../../assests/images/accesorios.jpg);
        border-radius: 100%;
        margin: 10rem 0rem;
        
    }

}